*,body,html {
    padding: 0;
    margin: 0;
}

ul {
    background-color: #222;
    padding: 14px;
    margin-bottom: 10px;
    margin: 0px;
}

li {
    list-style: none;
    display: inline;
}

li a {
    background: #222;
    color: #ffffff;
}

footer {
    background-color: black;
    text-align: center;
    max-height: fit-content;
    margin-top: 10px;
}

a {
    text-decoration: none;
    font-size: 20px;
    padding: 14px 10px;
}

h2 {
    color:white;
}

.slider-img {
    margin: auto;
    width: 99%;
    padding: 10px;   
    background-image: linear-gradient(to right, aqua, white); 
}

.image {
    padding: 14px;
    width: 300px;
    height: 300px;
    float: left;
    margin: 10px 10px 30px 50px;
}

.div-text {  
    background-image: linear-gradient(to right, aqua, white);
    margin-top: 5px;
}

.p-text {
    column-count: 4;
    column-rule-style: solid;
    column-fill: balance;
    height: 400px;
    font-size: 18px;
    text-align: justify;
    padding: 23px 10px 10px 10px;
}

